body{
    text-align: center;
    background-color: gray;
}
h1{
    color: rgb(190, 245, 7);
    margin-bottom: 0;
    
}
p{
    margin-top: 0;
    color: aqua;   
}
input{
    position: relative;
    border-radius: 25px;
    margin-bottom: 5px;
    font-size: 16px;
    padding: 12px 40px 12px 20px;
    width: 70%;
    outline: none;
    border: 1px solid #ccc;



}
button{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    max-width: 200px;
    border-radius: 10px;
    margin: 5px;
    
}
button:hover{
    background-color: black;
}
